.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.title1 {
    color: #06529b;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 5px;
}

.label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0892dd;
    text-decoration: none;
}

.right-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    left: 700px;
    color: #06529b;
    text-decoration: none;
}

.deptlabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #5F6E83;
    text-decoration: none; 
    position: relative;
    left: 700px;
    top: 185px;
}

.cplabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #0892dd;
    text-decoration: none;
    position: relative;
    left: 700px;
    top: 190px;
}

.namelabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #0892dd;
    text-decoration: none;
    position: relative;
    left: 592px;
    top: 250px;
}

.deanlabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight:400;
    color: #5F6E83;
    text-decoration: none; 
    position: relative;
    left: 700px;
    top: 245px;
}

textarea {
    width: 75%;
    min-height: 160px;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
    resize: vertical;
    color: #0b0c0c;
    font-size: 16px;
    font-weight:500;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea:focus, input:focus {
    outline: none;
}

input[type=text] {
    width: 30%;
    height: 30px;
    padding: 3px;
    border: 1px solid #0892dd;
    border-radius: 5px;
    resize: vertical;
    color: #0d0e0e;
    font-size: 15px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2    0px;
    text-indent: 20px;
    position: relative;
    left: 750px;
    display: inline-block;
}

.vl {
    border-left: 1px solid #d7dff6;
    height: 1150px;
    position: absolute;
    left: 60%;
    margin-left: 150px;
    top: 6%;
  }

  .v2 {
    border-left: 1px solid #0892dd;
    height: 50px;
    position: absolute;
    left: 105%;
    top: 310px;
  }

  .v3 {
    border-left: 1px solid #0892dd;
    height: 50px;
    position: absolute;
    left: 105%;
    top: 400px;
  }


.alertError {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #fd0b0b;
    box-shadow: 0 0 10px rgb(216 216 216);
    animation: zoom-in-zoom-out 1s ease;
    font-size: 16px;
    width: 300px;
}

.alertSuccess {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #06529b;
    box-shadow: 0 0 10px rgb(216 216 216);
    animation: zoom-in-zoom-out 1s ease;
    font-size: 16px;
    width: 300px;
}

.closebtn {
    margin-left: 15px;
    color: #06529b;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
 }

 