@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    overflow: hidden;
    background: rgb(245, 244, 255);
    background-image: url("https://i.postimg.cc/523r4DT9/leaf-logo.png");
    background-position: right -375px top 70px;
    background-repeat: no-repeat;
    background-size: 904px 1019px;
}

#content {
    margin-left: 175px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;

}


/*Side Bar*/

/*sidebar*/

a:link {
  text-decoration: none;
  color: #5f6e83;
}
a:hover {
  text-decoration: none;
  color: #0892dd;
}

a:visited {
  text-decoration: none;
  color: #5f6e83;
}

a:hover {
  text-decoration: none;
  color: #0892dd;
}

a:active {
  text-decoration: none;
  color: #0892dd;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d3dbe4;
  border-radius: 20px;
  border: transparent;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f3f6ff;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.topbar {
  box-sizing: border-box;
  height: 65px;
  border-bottom: 1px solid #d7dff6;
  display: flex;
  padding: 0.5rem 1rem;
}

.iplm-logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-left: 0.5rem;
}

.iplm-logo:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo {
  height: 4rem;
}

.logo-text {
  margin-left: 5px;
  margin-top: 5px;
}

.logo-main {
  color: rgba(6, 82, 155, 1);
  font-family: Lato;
  font-weight: bold;
  font-size: 1.25rem;
}

.logo-sub {
  color: #0892dd;
  font-family: Inter;
  font-size: 0.875rem;
}

.center-region {
  display: flex;
  flex: 1 0 auto;
}

.empty {
  flex: 1 0 auto;
}

.notif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  color: #06529b;
  cursor: pointer;
  position: relative;
}

.notif-icon {
  width: 20px;
  height: 20px;
}

.notif-icon:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.notif-content {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  flex-direction: column;
  background-color: #fff;
  min-width: 21.875rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: Lato;
  padding: 1rem;
  z-index: 100;
}

.notif-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d3dbe4;
  color: #6c757d;
  font-weight: 900;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.notif-items {
  max-height: 20.625rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.notif-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  text-decoration: none;
}

.notif-item:hover {
  background-color: #eee;
}

.notif-item-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notif-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  gap: 0.25rem;
  font-family: "Source Sans Pro", sans-serif;
}

.notif-item-title {
  font-weight: bolder;
  color: #06529b;
}

.notif-item-detail {
  color: #5f6e83;
}

.personal-info {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.personal-info:hover .profile-dropdown {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.client-classification {
  font-size: 0.625rem;
  font-family: Lato;
  color: #5f6e83;
  text-align: right;
}

.client-name {
  font-size: 13px;
  font-family: Lato;
  font-weight: bold;
  color: #06529b;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  height: 35px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 45px;
  right: 0px;
  display: none;
  flex-direction: column;
  background-color: #fff;
  min-width: 13.125rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 100;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #d3dbe4;
  padding-bottom: 1rem;
}

.dropdown-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.dropdown-icon {
  width: 40px;
  height: 40px;
}

.dropdown-name {
  color: #06529b;
  font-family: Lato;
  font-weight: 700;
  font-size: 0.875rem;
}

.dropdown-email {
  color: #5f6e83;
  font-family: source sans pro;
  font-size: 0.625rem;
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.dropdown-item {
  color: #5f6e83;
  font-family: source sans pro;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #f3f6ff;
  color: #06529b;
  transition: all 0.3s ease;
}

.profile-dropdown:hover .dropdown-content {
  display: flex;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 15.625rem;
  min-width: 0px;
  gap: 0.75em;
  padding: 15px 10px 10px 10px;
}

.sidebar-icon {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-right: 7px;
}

.sidebar-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgba(95, 110, 131, 1);
  cursor: pointer;
  text-decoration: none;
  max-width: 12.5rem;
  line-height: 27px;
}

.sidebar-item:hover {
  color: #0892dd;
  background-color: #d3dbe4;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar-item-text {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 900;
}

.sidebar-divider {
  color: #a8b4c2;
  font-family: Lato;
  font-weight: 900;
  font-size: 0.625rem;
  overflow: hidden;
  margin-left: 1.25rem;
  max-width: 180px;
  line-height: 27px;
}

.sidebar-divider:after {
  color: #a8b4c2;
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  margin: auto 0.5em;
}
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    min-width: 0;
  }

/***** CONTENT *****/
.backrw {
    margin-top: 65px;
    margin-left: 100px;
    margin-right: 100px;
}

#backimg {
    padding-top: 30px;
}

.back:hover,
.back:focus {
    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1155%) hue-rotate(190deg) brightness(91%) contrast(100%);
}

#head1 {
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 35px;
    color: #06529B;
    font-family: 'Lato';
}

#head2 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #06529B;
    font-family: 'Lato';
}

#head3 {
    letter-spacing: 1px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lato';
}
.studbox {
    background: #FFFFFF;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left:5%;
    margin-left:10%;
    margin-top:50px;
    width: 450px;
    height: 525px;
  }
  .stud-border {
    height: 10%;
    width:60%;
    margin: 0px 100px;
    margin-left: 5%;
    margin-top:-2%;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(95, 110, 131, 0.3);
}
/***** PROGRESS BAR *****/
.progress {
    height: 150px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 50px;
    background: #06529B;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.progress-bars {
    height: 5px;
    width: 60%;

    position:relative; 
    bottom: 5px;

    background: #0892DD;
}
.progress-bar {
    height: 5px;
    width: 100%;
    background: #FFFFFF;
}

.progress-text {
    letter-spacing: 1px;
    font-size: 15px;
    color: rgba(243, 246, 255, 0.6);
    font-family: 'Lato';
}

.progressbar li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
    margin-top: -30px;
}

.progressbar li:before {
    content: '';
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 1px solid #F3F6FF;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.progress-text-active {
    letter-spacing: 1px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Lato';
}

.progressbar li.active:before {
    font-family: 'Lato';
    border-color: #0892DD;
    background-color: #0892DD;
}



/***** END PROGRESS BAR *****/
.studyplan {
    margin-left: 90px;
    margin-right: 90px;
}

.curfield {
    background-color: #ececec;
    border-radius: 10px;
    height: 30px;

}

#saveacopybtn {
    width: 200px;
    height: 60px;
    background: #06529B;
    color: white;
    border-radius:   15px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Lato';
    top: 600px;
    right: 230px;
    border: 2px solid #06529B;
    border-style: none;
}

#nextbtn {
    width: 180px;
    height: 60px;
    background: #ffff;
    color: #0892DD;
    border-radius: 15px;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Lato';
    position: absolute;
    top: 500px;
    right: 180px;
    border: 2px solid #0892DD;
}

#nextbtn:hover, 
#saveacopybtn:hover {
    background: #0892DD;
    color: #ffff;
}


/*Table*/

.primary-att {
    position: sticky;
    text-align: left;
    position: sticky;
    top: 0;
    /* Don't forget this, required for the stickiness */
    background: #06529b;
    border-radius: 50px;
}

.fill-in {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(8, 146, 221, 0.3), rgba(8, 146, 221, 0.3)), linear-gradient(0deg, #F3F6FF, #F3F6FF), linear-gradient(0deg, #5F6E83, #5F6E83), linear-gradient(0deg, #06529B, #06529B), #08090B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.tablepanel {
    overflow-y: scroll;
    width:100%;
    height: 500px;
    margin-top: 2%; 
    padding-right: 1%;
    border-radius: 30px;
}

.borderless td,
.borderless th {
    border: none;
}

.tablepanel::-webkit-scrollbar {
    box-sizing: border-box;
    width: 7px;
    height: 180px;
    left: 1054px;
    top: 337px;
    background: rgba(95, 110, 131, 0.3);
    border-radius: 100px;

}

.tablepanel::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 0 8px 8px 0;
    ;
}

.tabletext1 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Lato';
    color: #0892DD;
}


.tabletext2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Lato'; 
    background-color: #F3F6FF;
}

#remarks {
    padding-left: 5px;
    border: none;
    background: #0892DD;
    font-size: 15px;
    font-family: Lato;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 88px;

}

.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
    zoom: 73%;
}

/***** END OF CONTENT *****/


/********BREAKPOINTS*******/
@media (max-width: 768px) {
    body {
        background: #fcfcfc;
        overflow: auto;
    }

    #content {
        margin-left: 0px;
    }

    /*****SIDEBAR*****/
    #sidebar {
        margin-left: -175px;
    }

    /*****END SIDEBAR*****/
    .progress {
        padding-left: 50px;
        padding-right: 50px;
    }

    #nextbtn {
        top: 730px;
        right: 0px;
    }

    #saveacopybtn {
        top: 730px;
        right: 190px;
    }

}

/********END BREAKPOINTS*******/
@media (max-width: 768px) {
  body {
      background: #fcfcfc;
      overflow: auto;
  }

  #content {
      margin-left: 0px;
  }

  /*****SIDEBAR*****/
  #sidebar {
      margin-left: -175px;
  }

  /*****END SIDEBAR*****/
  .progress {
      padding-left: 50px;
      padding-right: 50px;
  }

  #nextbtn {
      top: 550px;
      right: 25px;
  }

  .select-box .options-container.active {
      max-height: 100px;
      opacity: 1;
      overflow-y: scroll;
  }
/********END BREAKPOINTS*******/
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d3dbe4;
  border-radius: 20px;
  border: transparent;
}
} 

.form {


}

  /* / Small devices (Landscape phones, 576px and up)/  */
  @media (min-width: 576px) and (max-width: 767.98px) {
    body {
      overflow: auto;
    }
    .wrapper {
      zoom: 100%;
    }
  }
  /* / Medium devices (tablets, 768px and up) /  */
  @media (min-width: 768px) and (max-width: 991.98px) {
    body {
      overflow: auto;
    }
    .wrapper {
      zoom: 100%;
    }
  }

  /* / Large devices (desktops, 992px and up) / */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #content {
      zoom: 67%;
    }
    #sidebar {
      zoom: 75%;
    }
    .wrapper {
      zoom: 100%;
    }
  }
  /* / For screens na 1920x1080 / */
  /* For screens na 1920x1080 */
  @media (max-width: 1920px) {
    .main-content {
      zoom: 75%;
    }
    .wrapper {
      zoom: 100%;
    }
  }

  @media (max-width: 516px) {
    .wrapper {
      zoom: 58%;
    }
  }

  /* / For screens na 1600 / */
  @media (min-width: 1600px) {
    .wrapper {
      zoom: 85%;
    }
    .body {
      zoom: 67%;
    }
  }

  @media (max-width: 1366px) {
    .main-content {
      zoom: 90%;
    }
    .wrapper {
      zoom: 90%;
    }
  }