{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title> Faculty | Home </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <!-- include -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
       
  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,900&subset=latin-ext" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static '/CRS/css/fHomeAndProfile/fHomeStyle.css' %}">

        <!--  ICON -->
        <link rel="icon" href="{% static '/CRS/images/cHome/iPLM.png' %}" type="image/png" sizes="16x16">
      <style>
        .mt-3, .my-3 {
            margin-top: 1rem!important;
        }
        .border {
            border: 3px solid #dee2e6!important;
        }
        #scroll::-webkit-scrollbar {
        width: 5px;
        }

        #scroll::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px #06529b;
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #scroll::-webkit-scrollbar
        {
            width: 8px;
            background-color: #F5F5F5;
        }

        #scroll::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px #06529b;
            border-radius: 10px;
            background-color: #555;
        }

 
    </style>
    </head>


    <!--Start na to nung layput natin tapos based dun sa code ng chairperson-->
<body class="content-scrollbar" onload="today()">
    <img src="{% static 'CRS/images/cHome/bglogo.png' %}" id="bglogo">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark flex-sm-nowrap flex-wrap">                          
        <a id="iplm" href="{% url 'chairperson' %}">
            <img class="iplmlogo unselectable" src="{% static 'CRS/images/fHomeAndProfile/iplmlogo.png' %}" height="35">
        </a>            
               
        <!-- Notification dropdown -->
        <div class="unselectable dropdown notificon d-none d-sm-block">
            <a class="dropdown-toggle profilehover" id="dropdownNotif" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if notifications %} 
                    <span class="badge"> </span> <!-- red notif badge -->
                {% endif %}
                <img id="notif" src="{% static 'CRS/images/cIcons/notif.png' %}" height="20">
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdownNotifInfo p-3 text-muted custom-scrollbar" aria-labelledby="dropdownNotif">
                <div id="notiftitle"><p>Notifications<br></p></div>
                <div class="dropdown-divider-title"></div>
                <!-- DB NOTIFICATION DATA BELOW -->
                                   
                    {% for i in grade_file reversed %}
                      {% for x in stud_advisory %}
                         {% if i.studentID_id == x.studentUser_id and i.remarks != 'Approved' and i.remarks != 'Returned' %}
                            <a href="{% url 'fStudents_viewStudentGrade' x.studentUser.id %}"><p id="notifdrops"><b class="notiftext">{{x.studentUser.lastName}}, {{x.studentUser.firstName}} {{x.studentUser.middleName}} - {{x.studentSection}}</b><br>Submitted a grade! Please verify.</p></a>
                         {% endif %}
                      {% endfor %}
                    {% endfor %}
                    {% for acads in acad %}
                         {% for sched in schedule reversed %}
                            {% for c in curric %}
                               {% if c.subjectCode_id == sched.subjectCode_id and c.schoolSem == acads.semester %}
                                  <a href="{% url 'fViewSched' %}"><p id="notifdrops"><b class="notiftext">{{sched.subjectCode.subjectCode.subjectCode}} - {{sched.subjectCode.subjectCode.subjectName}}</b><br>You have new subject added!</p></a>
                               {% endif %}
                            {% endfor %}
                         {% endfor %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
            </ul>
        </div>

        <!-- navbar user name and title  -->
        <p class="d-none d-sm-block usertitle unselectable">
            Faculty
        </p>
        <p href="{% url 'fProfile' %}" class="d-none d-sm-block user unselectable">
            {{user.firstName}} {{user.middleName}} {{user.lastName}}
        </p>

        <!-- user profile dropdown -->
        <div class="unselectable dropdown pficon">
            <a class="dropdown-toggle profilehover" id="dropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="profileicon" src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}" width="35px" height="35px">
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdownProfileMenu p-3 text-muted" aria-labelledby="dropdownProfile">
                <img id="profileicon" src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}" width="40px" height="40px">
                <p id="profilemenutitle">{{user.firstName}}<br></p>
                <p id="profilemenuemail">{{user.email}}<br></p>
                <div class="dropdown-divider"></div>
                <li><a class="profilelinks" href="{% url 'fProfile' %}">View Profile</a></li>
                <li><a class="profilelinks" href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </div>
    </nav>

        <div id="mainwrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="custom-scrollbar">
                <ul class="sidebar-nav">
                    <li class="active"> <a class="sb-links" href="{% url 'fHome' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/home.png' %}" height="15"> Home</a> </li>
                    <li class="sb-section unselectable"><span>Students</span></li>
                    <li> <a class="sb-links" href="{% url 'fStudents_advisory' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/department.png' %}" height="15"> Advisory</a> </li>
                    
                    <li class="sb-section unselectable"><span>Classroom</span></li>
                    <li> <a class="sb-links" href="{% url 'fViewSched' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/studyplan.png' %}" height="15"> Schedule</a> </li>
                    {% if facultyInfo.facultyWorkstatus == 'Part-Time' %} 
                    <li> <a class="sb-links" href="{% url 'parttime_sched' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/parttime_avail.png' %}" height="17"> Part-Time Availability</a> </li>
                    {% endif %}
                    <!-- FILE PATH: Faculty/fStudents_advisoryChecklist-->
                    <li><a class="sb-links" href="{% url 'fStudents_advisoryChecklist' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/loa.png' %}" height="15"> Checklist Submissions</a> </li>

                </ul>
            </div> 
            <!-- end sidebar -->
            
        
        <!-- Page Content -->
        <!--ito yung opart ng Semester Details-->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- navbar page title blue -->
                <div class="headertitle unselectable d-none d-md-block">Dashboard</div>
                <!-- content start-->
                <!-- body page title grey -->
                <h1 class="unselectable">Overview</h1> 
                <!-- overview blocks row 1 -->
                <div class="d-flex flex-wrap justify-content-center align-content-center">
                    <!-- 1st block -->
                    <div class="p-2 overview-block lg-overview-block">                            
                        <div class="d-flex flex-wrap ov-block-content-1">
                            <div class="p-2 unselectable">                                    
                                <img src="{% static '/CRS/images/cHome/semesterDetails.png' %}" height="38">
                            </div>  
                            <div class="p-2">                                    
                                <span class="ov-heading-1">Semester Details</span>
                                <table class="table table-sm table-borderless" id="ov-sem-details">
                                    <tbody>
                                        {% for acads in acad %}
                                        <tr>
                                            <td>Academic Year: <br> Semester:</td>
                                            <td>{{acads.yearstarted}} - {{acads.yearended}} <br> {{acads.semester}}</td>
                                        </tr>                                          
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>                            
                        </div> 
                    </div>
                    <!-- 2nd block -->
                    <!-- Date block-->
                   <!-- 2nd block -->
                   <div class="p-2 overview-block sm-overview-block">
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-3 ov-block-content-top">                                
                            Today is                                                        
                    </div> 
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                        <div class="p-2 ov-heading-2">                                    
                            <h3 id="datetoday" class="ov-heading-2"></h3>  
                            <div id="current_month-day"></p>
                                <script>
                                    mo = null
                                    strMonth = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                                    date = new Date();
                                    month = date.getMonth() + 1;
                                    day = date.getDate();
                                    for (i=0;i<12;i++) {
                                        if (month-1 == i){
                                            mo = strMonth[i];
                                        }
                                    }
                                    document.getElementById("current_month-day").innerHTML = mo +" "+ day ;
                                </script>
                            </div>                              
                        </div>                                          
                    </div> 
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                        <div class="p-2">                                    
                            <h3 id="daytoday" class="ov-block-content-2"></h3>  
                            <div id="current_date"></p>
                                <div id="nameday"></p>
                                    <script>
                                        const dayIndex = new Date().getDay();
                                        const getDayName = (dayIndex) =>{
                                            const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                            return days[dayIndex];
                                        }
                                        const dayName = getDayName(dayIndex)
                                        document.getElementById("nameday").innerHTML = dayName
                                    </script>
                                </div>                                  
                        </div>                                          
                    </div>                             
                </div>
            </div> 
            <!--Next Block yung 3 sa baba na blocks-->
            <div class="d-flex flex-wrap justify-content-center align-content-center">
                <!-- 1st block -->
                <div class="p-2 overview-block sm-overview-block">
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                        <div class="p-2 ov-heading-2">                                    
                            <p style ="margin-top: 40px;margin-bottom:0px;">
                                {% if facultyInfo.departmentID_id == 1 %} 
                                    IT DEPARTMENT
                                {% else %}
                                    EE DEPARTMENT
                                {% endif %}
                            </p>
                        </div>                                          
                    </div> 
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                        <div class="blockDetails">CET</div>                                          
                    </div>  
                </div>
                <!--Katabing Block-->
                <div class="p-2 overview-block sm-overview-block"><div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                    <div class="p-2 ov-heading-3">                                    
                        {{count_block}}
                    </div>                                          
                    </div> 
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-3">                                
                        <div class="blockDetails"> Blocks</div>                                        
                    </div> 
                </div>
                <!--Last Block-->
                <div class="p-2 overview-block sm-overview-block"><div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                    <div class="p-2 ov-heading-3">                                    
                        {{count_stud}}
                    </div>                                          
                    </div> 
                    <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                
                        <div class="p-2">                                    
                            Total Students
                        </div>                                          
                    </div>  
                </div>
            </div>  
        </div>
        <!--Event View-->
        <div class="p-2 overview-block sm-overview-block" style="width:760px;height:230px">
            <div class="d-flex flex-wrap justify-content-center ov-block-content-2">                                

                    <h1 style="position: absolute;width: 143px;height: 26px;color: #06529b;font-family: 'Lato', sans-serif;font-weight: 900;font-size: 20px;line-height: 26px;margin-right:560px;margin-top:13px">Events</h1>
                    <form method="get" style="margin-top:12px;margin-left:400px; width:200px; height:40px;">
                    <select name="sortCategory" class="form-select mb-3" style="height: 27px; padding:2px; padding-left:6px; padding-bottom:4px;background-color: white;color: #06529b;border-width: 2px;border-radius: 8px;border-color: #06529b; font-size: 13px;font-family: 'Lato', sans-serif;margin-top:3px">
                        <option disabled selected>Select Category</option>
                        <option value="Academics">Academics</option>
                        <option value="Sports">Sports</option>
                        <option value="Social">Social</option>
                        <option value="Arts & Culture">Arts & Culture</option>
                        <option value="Featured">Featured</option>
                        <input type="submit" value="Go" class="btn btn-light w-25" style="color: #06529b;margin-top: -83px;margin-left: 203px; height:28px; padding-top:0px; background-color: #06529b; color:white; border-radius:7px;">

                    </form>
                
            <div id="scroll" class="content-scrollbar" style="width: 700px;height: 165px;overflow: auto;overflow-x: visible;margin: 0 auto;white-space: normal;margin-left:30px;border-style: solid; border-width:2px; border-color:#06529b; border-radius:5px;">
                    <div class="body"style="margin-bottom:150px; padding-top:15px;">
                        {% for event in events_list %}
                        <div class="double" style="max-width:700px;color: #06529b;border-collapse: separate;">
                            {% if event != None %}
                            <div style="display:inline; padding-bottom:15px;">
                            <p style="display:inline;text-align:left;color: #06529b; font-family: 'Lato', sans-serif;font-size: 16px;padding-top:5px; padding-left:15px;"><b>Event Title:</b></p><p style="display:inline;text-align:left;color: #545454; font-family: 'Lato', sans-serif;font-size: 16px;padding-top:5px; padding-left:7px;">{{ event.eventTitle }}</p>
                            </div>

                            <div style="display:block; margin-top:5px;">
                                <p style="display:inline;text-align:left;color: #06529b; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:15px;"><b>Start Date:</b></p><p style="display:inline;text-align:left;color: #545454; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:7px;">{{ event.eventStartDate }}</p>
                            </div>

                            <div style="display:block; margin-top:5px;">
                                <p style="display:inline;text-align:left;color: #06529b; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:15px;"><b>End Date:</b></p><p style="display:inline;text-align:left;color: #545454; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:7px;">{{ event.eventEndDate }}</p>
                            </div>

                            <div style="display:block; margin-top:5px; padding-bottom: 50px;">
                                <p style="display:inline;text-align:left;color: #06529b; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:15px;"><b>Description:</b></p><p style="display:inline;text-align:left;color: #545454; font-family: 'Lato', sans-serif;font-size: 14px;padding-top:5px; padding-left:7px;">{{ event.eventDescription }}</p>
                            </div>
                            


                                {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--End of Events-->
    </div> <!-- /#page-content-wrapper -->  
</div> <!-- /#wrapper -->



        <img src="{% static 'CRS/images/cIcons/up-arrow.png' %}" id="btn-back-to-top" class="unselectable"> <!-- scroll to top -->
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- JS -->
        <script src="{% static '/CRS/js/fHome/fHomeMain.js' %}"></script>   
        <script>
            let mybutton = document.getElementById("btn-back-to-top");
            window.onscroll = function () {
              scrollFunction();
            };
            mybutton.addEventListener("click", backToTop);
        </script>     
    </body>

</html>