{% extends 'pw_reset/password_reset.html' %}
{% block title %} Password Reset Confirm {% endblock %}

    {% block content %}
    <div class="container pwresetstyle">
        <br><br><br>
        <h2 class="pwheader">Password Reset</h2>
        <p>
            <form method="POST" style="font-family:'Source Sans Pro'; color: #06529b;">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm" style="width:200px;">
            </form>
        </p>            
    </div>    
    {% endblock %}