{% extends 'pw_reset/password_reset.html' %}
{% block title %} Password Reset Complete {% endblock %}

    {% block content %}
    <div class="container pwresetstyle">
        <br><br><br>
        <h2 class="pwheader">Password Reset Completed</h2>
        <p>
            Your password reset is successful. Log in with your new credentials.
        </p>
            <form method="POST">
            <a class="reset-btn unselectable" href="{% url 'index' %}">Log in</a>
            </div> 
        </form>
    </div>    
    {% endblock %}