{% extends 'pw_reset/password_reset.html' %}
{% block title %} Password Reset Done {% endblock %}

    {% block content %}
    <div class="container pwresetstyle">
        <br><br><br>
        <h2 class="pwheader">Password Reset Link Sent</h2>
        <p>
            An email with instructions to reset password has been sent to the email you provided.
        </p>
            <form method="POST">
            <a class="reset-btn unselectable" href="{% url 'index' %}">Return</a>
            </div> 
        </form>
    </div>    
    {% endblock %}