{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title> Chairperson | Students </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- include -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/CRS/css/cHome/cHomeStyleCP.css' %}">
        <link rel="stylesheet" href="{% static '/CRS/css/cStudents/cStudentsStyle.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,900&subset=latin-ext" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />    

        <!--  ICON -->
         <link rel="icon" href="https://i.postimg.cc/Z5Kc9KQv/iplm-logo.png" type="image/x-icon"/>
       
    </head>


    <body class="content-scrollbar" onload="today()">  
        {% block bglogo %}
        
        {% endblock %}                            
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark flex-sm-nowrap flex-wrap">           
            <a href="#menu-toggle" id="menu-toggle" class="navbar-brand unselectable d-xl-none" onclick="togglemenu()">
                <span></span><img class="nav-collapse unselectable" src="{% static 'CRS/images/cIcons/collapse.png' %}" height="13"></span>
            </a>                 
            <a href="{% url 'chairperson' %}" class="iplm-logo unselectable">
                <img src="https://i.postimg.cc/Z5Kc9KQv/iplm-logo.png" class="logo" />
                <div class="logo-text">
                  <div class="logo-main">iPLM</div>
                  <div class="logo-sub">Integrated PLM</div>
                </div>
            </a> 

            <!-- navbar user name and title  -->
            <p class="d-none d-sm-block usertitle unselectable">
                Chairperson
            </p>
            <p href="{% url 'chairperson_profile' %}" class="d-none d-sm-block user unselectable">
                {{user.firstName}} {{user.middleName}} {{user.lastName}}
            </p>

            <!-- user profile dropdown -->
            <div class="unselectable dropdown pficon">
                <a class="dropdown-toggle profilehover" id="dropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="profileicon" src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}" width="35px" height="35px">
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdownProfileMenu p-3 text-muted" aria-labelledby="dropdownProfile">
                    <img id="profileicon" src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}" width="40px" height="40px">
                    <p id="profilemenutitle">{{user.firstName}}<br></p>
                    <p id="profilemenuemail">{{user.email}}<br></p>
                    <div class="dropdown-divider"></div>
                    <li><a class="profilelinks" href="{% url 'chairperson_profile' %}">View Profile</a></li>
                    <li><a class="profilelinks" href="{% url 'fHome' %}">Log in as Faculty</a></li>
                    <li><a class="profilelinks" href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </div>
        </nav>

        <div id="mainwrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="custom-scrollbar d-xl-block">
                <ul class="sidebar-nav">
                    <li class="active"> <a class="sb-links" href="{% url 'chairperson' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/home.png' %}" height="15"> Home</a> </li>
                    <li class="sb-section unselectable"><span>CRS</span></li>
                    <li> <a class="sb-links" href="{% url 'is_active' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/department.png' %}" height="15"> Department</a> </li>
                    <li> <a class="sb-links" href="{% url 'dept_student' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/students.png' %}" height="15"> Students</a> </li>
                    <li> <a class="sb-links" href="{% url 'full_time' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/faculty.png' %}" height="15"> Faculty</a> </li>
                    <li class="sb-section unselectable"><span>Student Application</span></li>
                    <li> <a class="sb-links" href="{% url 'cOthers-studyPlan' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/studyplan.png' %}" height="15"> Study Plan</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-loa' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/loa.png' %}" height="15"> Leave of Absence</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-hd' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/hd.png' %}" height="15"> Honorable Dismissal</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-ojt' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/practicum.png' %}" height="15"> Practicum</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-shifter' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/shifter.png' %}" height="15"> Inbound Shifter</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-outshifter' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/shifter.png' %}" height="15"> Outbound Shifter</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-transferee' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/transferee.png' %}" height="15"> Transferee</a> </li>
                    <li class="sb-section unselectable"><span>Faculty Application</span></li>
                    <li> <a class="sb-links" href="{% url 'cfaculty_applicant' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/applicant.png' %}" height="15"> Faculty Application</a> </li>
                    <li> <a class="sb-links" href="{% url 'cOthers-partTime' %}"><img class="sb-icons" src="{% static 'CRS/images/cIcons/pta.png' %}" height="15"> Part-time Availability</a> </li>
                </ul>
            </div> 
            <!-- end sidebar -->     
            
             <!-- quick links-->
            <div id="mainwrapper" class="toggled">
                <div id="qlinks" class="custom-scrollbar unselectable qlinks-wrapper d-xl-block">
                    
                    <!-- Search box -->
                    <div class="searchbox">
                        <form method ="get">
                            <input type="text" name="search" class="searchstyle">
                            <button type="submit" id="submit" value="Search" class="searchbtn"> Search </button>
                        </form>
                    </div>
                    <!--End of Search box-->

                    <div class="sideheader">Block Information</div>
                    <div class="blockinfo">
                        <div class="container">
                            <div class="row blockinforow">
                              <div class="col-3 blockcol" style="margin-top: 10px;">
                                <img src="{% static '/CRS/images/cIcons/person.png' %}" height="30" style="margin-right: 8px; margin-top:-10px;" class="unselectable">
                              </div>
                              <div class="col adviser">
                                
                                    <b class="advisertitle">Adviser</b> <br>
                                    <b class="advisername">{{adviserFullname}}</b>
                                
                              </div>                              
                            </div>
                            <hr>
                            <div class="row blockinforow">
                                <div class="col-3 blockcol" style="margin-top: 15px;">
                                    <img src="{% static '/CRS/images/cIcons/calendar.png' %}" height="35" style="margin-right: 8px; margin-top:-10px;" class="unselectable">
                                </div>
                                <div class="col">
                                    <a href="{% url 'cStudentSchedOnline' %}"><button class="blockinfobutton btn"><b>Schedule</b><br>Manage/View Schedule</button></a>
                                </div>                              
                            </div>                            
                        </div>
                    </div>

                    <div>
                        <div class="container studentcounter">
                            <div class="row p-2">
                              <div class="col col-3 blockcol" style="margin-left: -10px">
                                <img src="{% static '/CRS/images/cIcons/booksdark.png' %}" height="15" class="unselectable">
                              </div>
                              <div class="col studentstitle">
                                Students:
                              </div>
                              <div class="col studentsnumber">
                                {{count}}
                              </div>
                            </div>
                          </div>
                    </div>                                        
                </div>
                
            </div>
            <!-- end quick links-->
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">  
                    
                    <!--------------------------------------- place content below this ------------------------------------------------------->                  
                    <div class="title1 unselectable d-none d-md-block">Students</div>

                    <div class="container yearheader unselectable">                                               
                        <div class="row">                           
                            <div class="col dropdownyear dropdown-border">                            
                                  <a href="{% url 'students_bsee' %}">
                                      <button class="year">1st Year &nbsp;&nbsp;<i class="fas fa-solid fa-angle-down fa-xs"></i></button>
                                  </a>
                                  <div class="dropdown-content">
                                      <a href="{% url 'students_bsee1' %}">Block 1</a>
                                      <a href="{% url 'students_bsee1-2' %}">Block 2</a>
                                      <a href="{% url 'students_bsee1-3' %}">Block 3</a>
                                      <a href="{% url 'students_bsee1-4' %}">Block 4</a>
                                      <a href="{% url 'students_bsee1-5' %}">Block 5</a>
                                      <a href="{% url 'students_bsee1-6' %}">Block 6</a>
                                      <a href="{% url 'students_bsee1I' %}">Irregular</a>
                                  </div>                              
                            </div>
                            <div class="col dropdownyear dropdown-border">  
                              <a href="{% url 'students_bsee2' %}">                          
                                  <button class="year">2nd Year &nbsp;&nbsp;<i class="fas fa-solid fa-angle-down fa-xs"></i></button>
                              </a>
                                  <div class="dropdown-content">
                                      <a href="{% url 'students_bsee2-1' %}">Block 1</a>
                                      <a href="{% url 'students_bsee2-2' %}">Block 2</a>
                                      <a href="{% url 'students_bsee2-3' %}">Block 3</a>
                                      <a href="{% url 'students_bsee2-4' %}">Block 4</a>
                                      <a href="{% url 'students_bsee2-5' %}">Block 5</a>
                                      <a href="{% url 'students_bsee2-6' %}">Block 6</a>
                                      <a href="{% url 'students_bsee2I' %}">Irregular</a>
                                  </div>                              
                            </div>
                            <div class="col dropdownyear dropdown-border">   
                              <a href="{% url 'students_bsee3' %}">                         
                                  <button class="year">3rd Year &nbsp;&nbsp;<i class="fas fa-solid fa-angle-down fa-xs"></i></button>
                              </a>
                              <div class="dropdown-content">
                                  <a href="{% url 'students_bsee3-1' %}">Block 1</a>
                                  <a href="{% url 'students_bsee3-2' %}">Block 2</a>
                                  <a href="{% url 'students_bsee3-3' %}">Block 3</a>
                                  <a href="{% url 'students_bsee3-4' %}">Block 4</a>
                                  <a href="{% url 'students_bsee3-5' %}">Block 5</a>
                                  <a href="{% url 'students_bsee3-6' %}">Block 6</a>
                                  <a href="{% url 'students_bsee3I' %}">Irregular</a>
                              </div>                              
                            </div>
                            <div class="col dropdownyear dropdown-border">     
                              <a href="{% url 'students_bsee4' %}">                          
                                  <button class="year">4th Year &nbsp;&nbsp;<i class="fas fa-solid fa-angle-down fa-xs"></i></button>
                              </a>
                              <div class="dropdown-content">
                                  <a href="{% url 'students_bsee4-1' %}">Block 1</a>
                                  <a href="{% url 'students_bsee4-2' %}">Block 2</a>
                                  <a href="{% url 'students_bsee4-3' %}">Block 3</a>
                                  <a href="{% url 'students_bsee4-4' %}">Block 4</a>
                                  <a href="{% url 'students_bsee4-5' %}">Block 5</a>
                                  <a href="{% url 'students_bsee4-6' %}">Block 6</a>
                                  <a href="{% url 'students_bsee4I' %}">Irregular</a>
                              </div>                              
                             </div>
                             <div class="col dropdownyear dropdown-border">                            
                              <a href="{% url 'students_bsee5' %}">
                                  <button class="year">5th Year &nbsp;&nbsp;</button>
                              </a>                                                       
                             </div>
                             <div class="col dropdownyear dropdown-border">               
                            <a href="{% url 'students_bsee6' %}">             
                                <button class="year">6th Year &nbsp;&nbsp;</button>
                            </a>                                                       
                            </div>
                            <div class="col dropdownyear">     
                            <a href="{% url 'students_allbsee' %}">                          
                                <button class="year">All &nbsp;&nbsp;<i class="fas fa-solid fa-angle-down fa-xs"></i></button>
                            </a>
                            <div class="dropdown-content">
                                <a href="{% url 'students_allIbsee' %}">Irregular</a>
                            </div>                              
                            </div>   
                        </div> 
                        <div class="row" style="border-bottom: 1px solid #d3dbe4; margin-top: 15px;"> 
                        </div>
                    </div>      

                    {% block body %}
                    <div class="container table-border">  
                        <div class="container table-block content-scrollbar">                                               
                            <div class="row">
                                <div class="table-title header-sticky"><span class="spanmarginleft">{{year}} | Block {{block1}}</span></div>                           
                                <table class="table table-style table-borderless table-sm">
                                    <tbody>
                                        <tr class="table-header header-sticky" style="top: 45px">
                                            <td></td>
                                            <td>Student No.</td>
                                            <td class="col-3">Last Name</td>
                                            <td class="col-3">First Name</td>
                                            <td>Middle Name</td>
                                            <td class="col-1 unselectable">View</td>
                                            <td class="col-1 unselectable">Edit</td>
                                        </tr>
                                        {% for i in bsee1 %}
                                        <tr>
                                            <td></td>
                                            <td>{{ i.studentID }}<!-- DB FACULTY NO --></td>
                                            <td>{{ i.studentUser.lastName }}<!-- DB LAST NAME --></td>
                                            <td>{{ i.studentUser.firstName }}<!-- DB FIRST NAME --></td>
                                            <td>{{ i.studentUser.middleName }}<!-- DB MIDDLE NAME --></td>
                                            <td>
                                                <a href="{% url 'profile1_1' i.pk %}">
                                                    <button class="minibutton unselectable"><!-- DB MANAGE FACULTY BUTTON BELOW -->
                                                        View
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'edit_students' i.pk %}">
                                                    <button class="minibutton unselectable"><!-- DB MANAGE FACULTY BUTTON BELOW -->
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                            </div>  
                
                        </div>
                    </div>
                    {% endblock %}
                    <!--------------------------------------- place content above this ------------------------------------------------------->   
                </div>            
            </div> <!-- /#page-content-wrapper -->  
        </div> <!-- /#wrapper -->

        <img src="{% static 'CRS/images/cIcons/up-arrow.png' %}" id="btn-back-to-top" class="unselectable"> <!-- scroll to top -->
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- JS -->
        <script src="{% static '/CRS/js/cHome/cHomeMain.js' %}"></script>   
        <script>
            let mybutton = document.getElementById("btn-back-to-top");
            window.onscroll = function () {
              scrollFunction();
            };
            mybutton.addEventListener("click", backToTop);
        </script>     
    </body>

</html>