{% extends 'chairperson/students BSEE/students_bsee.html' %}
{% load static %}
{% block body %}                    
    <div class="container table-border">  
        <div class="container table-block content-scrollbar">                                               
            <div class="row">
                <div class="table-title header-sticky"><span class="spanmarginleft">{{year}}</span></div>                           
                <table class="table table-style table-borderless table-sm">
                    <tbody>
                        <tr class="table-header header-sticky" style="top: 45px">
                            <td></td>
                            <td>Student No.</td>
                            <td class="col-3">Last Name</td>
                            <td class="col-3">First Name</td>
                            <td>Middle Name</td>
                            <td class="col-1 unselectable">View</td>
                            <td class="col-1 unselectable">Edit</td>
                        </tr>
                        {% for i in bsee %}
                        <tr>
                            <td></td>
                            <td>{{ i.studentID }}<!-- DB FACULTY NO --></td>
                            <td>{{ i.studentUser.lastName }}<!-- DB LAST NAME --></td>
                            <td>{{ i.studentUser.firstName }}<!-- DB FIRST NAME --></td>
                            <td>{{ i.studentUser.middleName }}<!-- DB MIDDLE NAME --></td>
                            <td>
                                <a href="{% url 'profile1_1' i.pk %}">
                                    <button class="minibutton unselectable"><!-- DB MANAGE FACULTY BUTTON BELOW -->
                                        View
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'edit_students' i.pk %}">
                                    <button class="minibutton unselectable"><!-- DB MANAGE FACULTY BUTTON BELOW -->
                                        Edit
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>  

        </div>
    </div>
{% endblock %}
                   