@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    overflow: hidden;
}

#content {
    margin-left: 175px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;

}


/*Side Bar*/
.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
    zoom: 67%;
}

#sidebar {
    height: 100%;
    min-width: 175px;
    max-width: 175px;
    background: #0C66CC;
    color: transparent;
    position: fixed;
}

#sidebar.active {
    margin-left: -175px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0C66CC;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
    background: #0C66CC;
    text-align: center;
    padding-bottom: 40px;
}

#sidebar ul li a:hover {
    background: #2852a4;
    border-radius: 20px 20px 20px 20px;
    margin-right: 15px;
    margin-left: 15px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0C66CC;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*End of Side Bar*/

/***** CONTENT *****/
.backrw {
    margin-left: 100px;
    margin-top: 65px;
    margin-right: 100px;
}

#backimg {
    padding-top: 30px;
}
.subbox {
    background: #FFFFFF;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top:50px;
    width: 450px;
    height: 525px;
  }
.back:hover,
.back:focus {
    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1155%) hue-rotate(190deg) brightness(91%) contrast(100%);
}

#head1 {
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 17px;
    font-size: 40px;
    color: #0C66CC;
    font-family: 'Lato';
}

#head2 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #0C66CC;
    font-family: 'Lato';
}
.sub-border {
    height: 10%;
    width:60%;
    margin: 0px 100px;
    margin-left:8%;
    margin-top:-2%;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(95, 110, 131, 0.3);
}

#head3 {
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
    font-family: 'Lato';
}


/***** PROGRESS BAR *****/
.progress {
    height: 150px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px 30px 30px 30px;
    background: #06529B;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.progress-bars {
    height: 5px;
    width:40%;

    position:relative; 
    bottom: 5px;

    background: #0892DD;
}
.progress-bar {
    height: 5px;
    width: 100%;
    background: #FFFFFF;
}

.progress-text {
    letter-spacing: 1px;
    font-size: 15px;
    color: rgba(243, 246, 255, 0.6);
    font-family: 'Lato';
}

.progressbar li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
    margin-top: -30px;
}

.progressbar li:before {
    content: '';
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 1px solid #F3F6FF;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.progress-text-active {
    letter-spacing: 1px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Lato';
}

.progressbar li.active:before {
    font-family: 'Lato';
    border-color: #0892DD;
    background-color: #0892DD;
}


/***** END PROGRESS BAR *****/
.subtaken {
    margin-left: 90px;
    margin-right: 90px;
}

.curfield {
    background-color: #ececec;
    border-radius: 10px;
    height: 30px;
}

#submitbtn {
    width: 180px;
    height: 60px;
    background: #06529B;
    color: #ffff;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Lato';
    position: absolute;
    top: 470px;
    right: 230px;
}

#submitbtn:hover {
    background: #0892DD;
    color: #ffff;
}


/* 
#nextbtn {
    width: 180px;
    height: 60px;
    background: #ffff;
    color: #0C66CC;
    border-radius: 15px;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    font-family: 'Nunito';
    letter-spacing: 1px;
    position: absolute;
    top: 500px;
    right: 20px;
    border: 2px solid #0C66CC;
}

#nextbtn:hover {
    background: #2852a4;
    color: #ffff;
} */

/*Table*/

.primary-att {
    position: sticky;
    text-align: left;
    position: sticky;
    top: 0;
    /* Don't forget this, required for the stickiness */
    background: #06529b;
    border-radius: 50px;
}

.fill-in {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(8, 146, 221, 0.3), rgba(8, 146, 221, 0.3)), linear-gradient(0deg, #F3F6FF, #F3F6FF), linear-gradient(0deg, #5F6E83, #5F6E83), linear-gradient(0deg, #06529B, #06529B), #08090B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.tablepanel {
    overflow-y: scroll;
    width:100%;
    height: 560px;
    margin-top: 2%; 
    padding-right: 1%;
    box-shadow:  0px 7px 4px lightgray;
}

.borderless td,
.borderless th {
    border: none;
}

.tablepanel::-webkit-scrollbar {
    box-sizing: border-box;
    width: 7px;
    height: 180px;
    left: 1054px;
    top: 337px;
    background: rgba(95, 110, 131, 0.3);
    border-radius: 100px;

}

.tablepanel::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 0 8px 8px 0;
    ;
}

.tabletext1 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Lato';
    color: #fff;
}


.tabletext2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Lato';
    background-color: #F3F6FF;
}

#remarks {
    padding-left: 5px;
    border: none;
    background: #0C66CC;
    font-size: 15px;
    font-family: 'Lato';
    cursor: pointer;
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 88px;

}

/***** END OF CONTENT *****/


/********BREAKPOINTS*******/
@media (max-width: 768px) {
    body {
        background: #fcfcfc;
        overflow: auto;
    }

    #content {
        margin-left: 0px;
    }

    /*****SIDEBAR*****/
    #sidebar {
        margin-left: -175px;
    }

    /*****END SIDEBAR*****/
    .progress {
        padding-left: 50px;
        padding-right: 50px;
    }

    .curfield {
        margin-left: 10px;
        width: 60%
    }

    #nextbtn {
        top: 900px;
        right: 0px;
    }

    #submitbtn {
        top: 900px;
        right: 190px;
    }

    #backbtn {
        background: none; border: none;
        margin-left: 560%; 
        margin-top: 510%;
    }

}

input#checkmark {

margin-left: 0px;
outline: 4px solid #0892DD;
border-radius: 15px;

}




/********END BREAKPOINTS*******/