{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Student | Study Plan </title>
    <link rel="icon" href="https://i.postimg.cc/Z5Kc9KQv/iplm-logo.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <link rel="stylesheet" href="{% static 'CRS/css/sOthers/sStudyplan2.css' %}">
    <!--  ICON -->
    <link rel="icon" href="{% static 'CRS/images/sOthers/iPLM.png' %}" type="image/png" sizes="16x16">

    <style>
        /* #checkmark{
            height: 32px;
            width: 32px;
            border: 5px solid rgb(255, 255, 255);
            border-radius: 45px;
            background-color: ##06529B;
            margin-left: 15px;
        } */

        tr:nth-child(even) {background-color: #F3F6FF;}

        #submitbtn{
            border: none;
            padding-bottom: 15px;
            margin-right:-120px;
        }
    </style>
</head>
<div class="wrapper">        
    <body>
            <!-- Sidebar -->
 <!-- top bar -->
 <div class="topbar">
  <a href="{% url 'sHome' %}" class="iplm-logo">
    <img src="https://i.postimg.cc/Z5Kc9KQv/iplm-logo.png" class="logo" />
    <div class="logo-text">
      <div class="logo-main">iPLM</div>
      <div class="logo-sub">Integrated PLM</div>
    </div>
  </a>
  <div class="center-region">
    <div class="empty"></div>
    <div id="notif-button" class="notif">
      <img
        class="notif-icon"
        src="https://i.ibb.co/0XVd3kP/notification.png"
        alt="notification"
      />
      <div id="notif-window" class="notif-content">
        <div class="notif-triangle"></div>
        <div class="notif-header">Notifications</div>
        <div class="notif-items">
          <a href="{% url 'LOANotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/Gp0457xb/LOA.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">Leave of Absence Feedback</div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>

          <a href="{% url 'HDNotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/mkhZDCyd/honorabledismissal.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">
                Honorable Dismissal Feedback
              </div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>

          <a href="{% url 'SPNotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/PJfpMCzZ/studyplan.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">Study Plan Feedback</div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>

          <a href="{% url 'GradesNotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/NMm7n2Hz/mygrades.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">My Grades Feedback</div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>

          <a href="{% url 'OJTNotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/SK7xtyKG/practicum.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">Practicum Feedback</div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>

          <a href="{% url 'OutboundNotifdetails' %}" class="notif-item">
            <img
              class="notif-item-icon"
              src="https://i.postimg.cc/Kzf01wnM/shifting-form.png"
              alt="img"
            />
            <div class="notif-item-text">
              <div class="notif-item-title">Outbound Shifting Feedback</div>
              <div class="notif-item-detail">View details</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="personal-info" id="dropdown-button">
    <div class="user-details">
      <div class="client-classification">Student</div>
      <div class="client-name">
        {{user.firstName}} {{user.middleName}} {{user.lastName}}
      </div>
    </div>
    <div class="dropdown">
      <img
        src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}"
        class="profile-dropdown"
      />
      <div class="dropdown-content" id="dropdown-window">
        <div class="dropdown-header">
          <img
            src="{% static 'CRS/images/fHomeAndProfile/userprofile.png' %}"
            class="dropdown-icon"
          />
          <div class="dropdown-details">
            <div class="dropdown-name">{{info.studentUser.firstName}}</div>
            <div class="dropdown-email">{{user.email}}</div>
          </div>
        </div>
        <div class="dropdown-items">
          <a href="{% url 'sProfile' %}" class="dropdown-item"
            >View Profile</a
          >
          <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
          <!-- content -->
          <div class="content">
            <!-- side bar  -->
                  <!-- side bar  -->
      <div class="sidebar">
        <a href="{% url 'sHome' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/DZS58F2h/home-button-iplm.png"
          />
          <span class="sidebar-item-text">Home</span>
        </a>
        <div class="sidebar-divider">CLASSROOM</div>
        <a href="{% url 'sScheduleView' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/3R4bxwDX/schedule.png"
          />
          <span class="sidebar-item-text">Schedule</span>
        </a>
        <a href="{% url 'sChecklist' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/J7jP6v3z/checklist.png"
          />
          <span class="sidebar-item-text">Checklist</span>
        </a>
        <a href="{% url 'sGradeSubmission1' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/NMm7n2Hz/mygrades.png"
          />
          <span class="sidebar-item-text">My Grades</span>
        </a>
        <div class="sidebar-divider">OTHERS</div>
        <a href="{% url 'donesp' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/PJfpMCzZ/studyplan.png"
          />
          <span class="sidebar-item-text">Study Plan</span>
        </a>
        <a href="{% url 'doneLoa' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/Gp0457xb/LOA.png"
          />
          <span class="sidebar-item-text">Leave of Absence</span>
        </a>
        <a href="{% url 'doneHd' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/mkhZDCyd/honorabledismissal.pngg"
          />
          <span class="sidebar-item-text">Honorable Dismissal</span>
        </a>
        <a href="{% url 'donepracticum' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/SK7xtyKG/practicum.png"
          />
          <span class="sidebar-item-text">Practicum</span>
        </a>
        <a href="{% url 'doneOSF' %}" class="sidebar-item">
          <img
            class="sidebar-icon"
            src="https://i.postimg.cc/Kzf01wnM/shifting-form.png"
          />
          <span class="sidebar-item-text">Outbound Shifting</span>
        </a>
      </div>
            <!-- End of Sidebar -->
                
            <!-- Content -->
            <div class="main-content"> 
              <div class="container-fluid">
                  <div class="backrw row" style="margin-top: 0px;">
                      <p id="head1">
                           Study Plan
                       </p>    
                       </div>
    
               <!-- Progress Bar -->
               <div class="row">
                <div class="container-fluid"> 
                        <div class="progress row">
                            <div class="col-lg-12">
                                <div class="progress-bar "></div>
                                <div class="progressbar">
                                    <div class="progress-bars "></div>
                                        <li class="active progress-text-active">Upcoming<br>Semester</br><img src="https://i.ibb.co/Kw0K42B/check.png" width="45" height="45" style="margin-top: -180px"></li>
                                            <li class="active progress-text-active">Subjects<br>Taken</li>
                                            <li class="progress-text">Study<br>Plan</li>
                                            <li class="progress-text">Upload<br>Documents</li>
                                            <li class="progress-text">Confirmation<br>Submission</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="subtaken row pt-5" style="width:90%;"> 

                    <div class="fill-in col-lg-8 pr-0">


                            <div class="tablepanel table-responsive-lg">
                                <table class="borderless table">


                                    <tr class="primary-att" style="text-align: center;" >
                                        <th scope="col" style="border-radius: 12px 0px 0px 0px;"><p id="head3"><b>Code</b></p></th>
                                        <th scope="col" style="margin-top: 2%;"><p id="head3"><b>Course Name</b></p></th>
                                        <th scope="col" style="margin-top: 2%;"><p id="head3"><b>Units</b></p></th>
                                        <th scope="col" style="margin-top: 2%; border-radius:0px 12px 0px 0px; "><p id="head3"><b>Pre(Co)-Requisites</b></p></th>
                                        
                                    </tr>
                                    
                                    <!----------------------DATABASE STUFF---------------------->
                                    {% if grades %}
                                            
                                       
                                    {% for l in grades %}  
                                
                                        {% if status.studentinfo == l.owner%} 
                                                               
                                            {% if info.studentYearlevel == '1' %}

                                                {% if l.yearTaken == info.studentYearlevel %}

                                                  
        
                                                    {% if l.semTaken == '1' %}
                                                                           
                                                                        
                                        
                                                        {% if l.subjectGrades >= 5.00 %}
                                                    
                                                            <tr class="tabletext2">
                                                                <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>

                                                            </tr>
                                                        {%endif%}
                                                                
                                                    {%endif%}
                                                {%endif%}
                                                                   
                                             
                                                        

                                            {% elif info.studentYearlevel >= '2' %}
                                                                  
                                                    {% if l.yearTaken != info.studentYearlevel %}

                                                      
                                                        {% if l.semTaken == '2' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                                  
                                                                </tr>
                                                            {%endif%}
                                                                
                                                        {%endif%}

                                                    {%endif%}

                                            {% elif info.studentYearlevel == '2' %}
                                                                  
                                                    {% if l.yearTaken == info.studentYearlevel %}

                                                        
                                                        {% if l.semTaken == '1' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                               
                                                                </tr>
                                                            {%endif%}
                                                                    
                                                        {%endif%}

                                                    {%endif%}

                                            
                                            {% elif info.studentYearlevel == '3' %}
                                                                  
                                                    {% if l.yearTaken == info.studentYearlevel %}

             
                                                        {% if l.semTaken == '1' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                                      
                                                                </tr>
                                                            {%endif%}
                                                                
                                                        {%endif%}

                                                    {%endif%}
                                            

                                            {% elif info.studentYearlevel == '4' %}
                                                                  
                                                    {% if l.yearTaken == info.studentYearlevel %}

                                                    
                                                        {% if l.semTaken == '1' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                                       
                                                                </tr>
                                                            {%endif%}
                                                                
                                                        {%endif%}

                                                    {%endif%}

                                            

                                            {% elif info.studentYearlevel == '5' %}
                                                                  
                                                    {% if l.yearTaken == info.studentYearlevel %}

          
                                                        {% if l.semTaken == '1' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                                       
                                                                </tr>
                                                            {%endif%}
                                                                
                                                        {%endif%}

                                                    {%endif%}
                                            

                                            {% elif info.studentYearlevel == '6' %}
                                                                  
                                                    {% if l.yearTaken == info.studentYearlevel %}

                                                       
                                                        {% if l.semTaken == '1' %}

                                                            {% if l.subjectGrades >= 5.00 %}
                                                                <tr class="tabletext2">
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectCode }}</p></td>
                                                                    <td><p class="subjectName">{{ l.curriculumCode.subjectCode.subjectName }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectUnits }}</p></td>
                                                                    <td><p>{{ l.curriculumCode.subjectCode.subjectPrerequisite|default_if_none:"" }}</p></td>
                                                                      
                                                                </tr>
                                                            {%endif%}
                                                                
                                                        {%endif%}

                                                    {%endif%}
                                      
                                            {%endif%}
                                            

                                                          

                                        {%endif%} 
                                    {%endfor%}          
                                {% endif%}
                                    <!---------------------------------------------------------->

                                </table>
                            </div>

                        </form>
                        
                    </div>

                    <div class="col-lg-4" style="padding-left: 5%">
                        <div class="subbox"> <br/><br/> <style>* {
                            box-sizing: border-box;
                          }
                          
                          </style>
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <p id="head2" style="margin-top:10px; padding-left: 8%"><b>Subjects Taken</b></p> 
                                 <div class="sub-border row">
                                <div class="col-12-lg">
                                </div>
                            </div>

                            </div>
                        </div>

                        <div class="row pt-3">
                            
                            <div id="head3" class="col-lg-3" style= "color: #06529b; margin-top: 3%;padding-left: 10%;">
                                <b>Before</b>
                            </div>
                            
                            
                            <div id="head3" class="col-lg-5" style="color: #06529b;margin-top: 3%;">
                                {% if status.curricula %}
                                    <p style="text-align:left; width: 300px;"><b>{{ status.curricula.cYear }}, {{ status.curricula.cSem }}</b></p>
                                {% endif %}
                                <!--
                                <select class="curfield col-lg-5" id="upsem" onchange="nxtsem();">
                                    <option selected disabled>Select upcoming semester</option>
                                    <option></option>
                                </select>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 pt-3">

                             {% if status.curricula %}
                                    <p id="head3" style="color: #06529b; padding-left: 8%;margin-top: 1%;">List of subjects for which you received<br> a failed remark only before<br><br><b> {{ status.curricula.cYear }}, {{ status.curricula.cSem }}</p></b>
                                    
                                    {% endif %}
                                
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div>
                                    <a href="{% url 'stdplnyr' %}"><img src="https://i.ibb.co/yWY15ff/arrow-left.png" height="50;" width="50;" style="margin-left: 150%; margin-top: 80%; text-align: right;"></a>
                                    <input type="submit" id="submitbtn" value="Submit">                                   
                                    
                                </div>
                        </div>
</div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- END Content -->



    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
          var notifWindow = document.getElementById("notif-window");

document
  .getElementById("notif-button")
  .addEventListener("click", function () {
    var display = notifWindow.style.display === "flex" ? "none" : "flex";
    notifWindow.style.display = display;
  });
var profileDropdown = document.getElementById("dropdown-window");
document
  .getElementById("dropdown-button")
  .addEventListener("click", function () {
    var display =
      profileDropdown.style.display === "flex" ? "none" : "flex";
    profileDropdown.style.display = display;
  });
    </script>

</body>

</html>